.container{
 background-image: url(https://media2.thrillophilia.com/images/photos/000/082/497/original/1675261154_shutterstock_2148766633.jpg?width=975&height=600);
 background-size: cover;
 background-position: center;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}



.inner {
    background: rgba(255, 255, 255, 0.8); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .input{
    width: 340px;
    height: 30px; 
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    border-radius: 10px;

  }

  .btn {
    background: linear-gradient(to right, #0A50A1, #3D86D2); 
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background 0.3s ease; 
    font-family: "Gill Sans", sans-serif;
    width: 300px;
    &:hover {
      background: linear-gradient(to right, #3D86D2, #0A50A1); 
    }
  }


  .welcome{
    color: #1d3f58;
    font-family: "Gill Sans", sans-serif;
  }
  .dont{
    color: #1d3f58;
    font-family: "Gill Sans", sans-serif;
  }
  .appLogo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .images{
    width: 30px;
    height: 30px;
    margin-left: 45px;
    cursor: pointer;
  }

