.HolidayPlaces_Div{
    padding-top: 10%;
 
}


.place{
    width: 70%;
    margin-left: 17%;
    display: flex;
    justify-content: space-around;

   
}

.HolidayPlaces_Div button{
    margin-bottom: 10px;
    border: 2px solid cyan;
    margin-right: 10px;
    border-radius: 50px;
   
    
}